.test{
  height: 50%;
  width: 50%;
  margin:auto;
  position: relative;

}

.t{
  background-image: url('bg.png');
  background-size: cover;
  opacity: 0.2;
}

.border {
    border: 1px solid black;
    padding-bottom: 10px;
}

.championIcon {
  width: 75px;
  height: 75px;
  margin-right: 25px;
  margin-bottom: 25px;
}
